$icon-font-path: '../fonts/';
$fa-font-path:   '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

html, body {
  height: 100%;
}

body {
  padding-bottom: 70px;
}

p {
  font-size: 1.2em;
}

#about-me,
#featured-work {
  margin-bottom: 5%;
}

#dp-set {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.black-text {
  color: black !important;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.display-photo{
  border-radius: 50%;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 10vh;
  height: 10vh;
  padding-top: 0;
  font-size: 1.5em;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  border: 0;
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(285,285,290,0.5);
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
  text-align: center;
  z-index: 2;

  a {
    color: white;
    text-decoration: none;
  }

  h3 {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.row .portfolio-item:nth-child(3n + 1){ // clearfix for project items RMB TO CHANGE CLEAR FOR MEDIA QUERIES!!
  clear: both;
}

.navbar-bottom{
  background: #f5f5f5;
}

i.fa {
  padding: 5px;

  &:hover {
    color: black;
  }
}

.jumbotron {
  background: none;
}

#really-small {
  font-size: 0.7em;
}

.spacer {
  background-color: #3498db;
  width: 20%;
  height: 2px;
  margin: auto;
}

.section-header.profile-header-info h1{
  padding-top: 0.8em;
  padding-bottom: 0.4em;
}

.section-subtitle {
  margin-top: 0.8em;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
  #hide-cage{
    display:none;
  }

  .resume-photo#hideDP {
    display: none;
  }

  .display-photo {
    display: none;
  }

  .navbar-text.pull-right {
    a {
      font-size: 0.7em;
    }
  }

  .navbar-text.pull-left {
    p.text-muted  {
      font-size: 0.7em;
    }
  }

  .jumbotron {
    border-bottom: 0;
  }
}