<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>portfolio</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top nav-style">
      <div class="container">
        <div class="navbar-header padding-top">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">sherman</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav padding-top">
              <li><a href="#about" data-url="about">about</a></li>
              <li><a href="#portfolio" data-url="portfolio">portfolio</a></li>
              <li><a href="#resume" data-url="resume">resume</a></li>
              <li><a href="#contact" data-url="contact">contact</a></li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container portfolio-body">
    </div>

    <footer class="navbar-bottom">
      <div class="container">
        <div class="navbar-text pull-right">
          <a href="https://ca.linkedin.com/in/shermanhui"><i class="fa fa-linkedin fa-2x text-muted"></i></a>
          <a href="https://instagram.com/shui91"><i class="fa fa-instagram fa-2x text-muted"></i></a>
          <a href="https://www.facebook.com/sherman.hui"><i class="fa fa-facebook-square fa-2x text-muted"></i></a>
          <a href="mailto:sherman.sy.hui@gmail.com"><i class="fa fa-envelope-o fa-2x text-muted"></i></a>
        </div>
        <div class="navbar-text pull-left">
          <p class="text-muted">Sherman Hui - Front End Developer</p>
        </div>
      </div>
    </footer>

    <script type="text/template" id="about-template">
      <div class="jumbotron" id="about-me">
        <div class="container">
        <div class="col-md-8">
          <h1>Hello!</h1>
          <h4 class="lead">I am Sherman Hui, a Front-End Developer from Vancouver, Canada</h4>
          <p class="lead">I enjoy learning and creating; especially learning to create. I believe in always striving to become the best version of yourself. When I'm not coding, I'm on the mat practicing inversions or at the gym picking things up and putting them down. </p>
        </div>
        <div class="col-md-4">
          <img class="display-photo" src="http://i.imgur.com/bh6AwL0m.png" alt="sherman">
        </div>
        </div>
      </div>

      <h1 class="text-center">My Featured Work</h1>
      <hr>
      <div class="row text-center" id="featured-work">
          <% _.each(collection, function(model){ %>
          <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h3><a href= <%= model.url %>><%= model.caption %></a></h3>
            </div>
            <img class="img-responsive" src= <%= model.image %> alt=<%= model.alt %>/>
          </div>
          <h3 class="project-title text-center"><%= model.title %></h3>
          </div><%});%>
      </div>
      </script>

      <script type="text/template" id="portfolio-template">
        <div class="col-lg-12 text-center">
          <h1>My Portfolio</h1>
          <hr>
          <p class="lead">As a largely self-taught developer, these projects are the product of the development of my Front End skillsets. HTML5, CSS3 and JavaScript are my best friends. I am knowledgable with frameworks and libraries such as BackboneJS, KnockoutJS, jQuery, underscore and SASS. I also employ the use of build tools such as Grunt and Gulp and testing frameworks like Jasmine.</p>
        </div>
        <div class="row">
          <% _.each(collection, function(model){ %>
          <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="thumbnail">
            <div class="caption">
              <h3><a href= <%= model.url %>><%= model.caption %></a></h3>
            </div>
            <img class="img-responsive" src= <%= model.image %> alt=<%= model.alt %>/>
          </div>
          <h3 class="project-title text-center"><%= model.title %></h3>
          </div><%});%>
        </div>
      </script>

      <script type="text/template" id="contact-template">
        <div class="col-lg-12 text-center contactbg">
          <h1>Let's Connect!</h1>
          <hr>
          <p class="lead">I'd love to meet over coffee or beer!</p>
          <p class="lead">Currently, I am open for freelance opportunities and searching for a full-time Front End Developer position.</p>
          <p class="lead">Feel free to <a href="mailto:sherman.sy.hui@gmail.com"><i class="fa fa-envelope-o fa-2x text-muted"></i></a> or contact me via <a href="https://ca.linkedin.com/in/shermanhui"><i class="fa fa-linkedin fa-2x text-muted"></i></a></p>
          <p class="lead" id="really-small">Pardon my lack of a proper contact form!</p>
          <img src="http://i.imgur.com/nbpsSgM.gif"/>
        </div>
      </script>

      <script type="text/template" id="resume-template">

        <section class="page-profile">
            <div class="container profile-container">
                <header class="section-header profile-header-info text-center">
                  <h1>
                    <span>Personal Profile</span>
                  </h1>
                  <div class="spacer"></div>
                  <p class="section-subtitle">Developing the web developer</p>
                </header>
                <div class="row profile-info">
                  <div class="col-md-3" id="resume-photo">
                    <img class="display-photo" id="hideDP" src="http://i.imgur.com/bh6AwL0b.png" alt="sherman">
                  </div>
                  <div class="col-md-9">
                    <p>I graduated with a Bachelor of Arts in Economics and a minor in Commerce at the University of British Columbia. Currently, I am working as a Financial Services Representative at TD Canada Trust. Although I have a formal degree under the belt, I felt that I wasn't truly satisfied with my education and have yet to find a career that inspires me.</p>
                    <p> As of April 2015 I have been actively involved in Massively Open Online Courses (MOOCs) aiming to broaden my skill sets and to explore various fields to find my passion.</p>
                    <p>I recently completed the Front End Nanodegree at Udacity and I am now searching for a full-time entry level position as a Front End Developer.</p>
                  </div>
                </div>
            </div>
        </section>

        <section class="page-education">
            <div class="container education-container">
                <header class="section-header profile-header-info text-center">
                  <h1>
                    <span>Education</span>
                  </h1>
                  <div class="spacer"></div>
                  <p class="section-subtitle">Where I've Learned</p>
                </header>
                <div class="row education-list">
                    <div class="col-md-12 text-center">
                      <header>
                        <h3> University of British Columbia </h3>
                        <p> Bachelor of Arts, Economics, 2009 - 2014 </p>
                      </header>
                      <p> As a student at UBC some of my best learning experiences came from being actively involved in many extracurricular activities. I was the 2013 Community Deparment head of the largest social club on campus, the Chinese Varsity Club. Spear heading community initiatives such as blood drives, community driven campus-wide games, and other small scale volunteer events, taught me how to delegate and plan large events. I was also CVC's executive of the year in 2014. I was also involved as an amabassador to first-year UBC students as a Orientations Leader, responsible for being their first point of contact on campus and working with a selected professor to organize their very first lecture on campus. </p>'
                    </div>
                </div>
                <div class="row online-education-row text-center">
                <header class="section-header profile-header-info ">
                  <h1>
                    <span>Online Education</span>
                  </h1>
                  <div class="spacer"></div>
                  <p class="section-subtitle">In the pursuit of knowledge</p>
                </header>
                <div class="col-md-4">
                  <h3>Introduction to Python (Part I)</h3>
                  <p> Rice University, April 2015, <a href="https://www.coursera.org/account/accomplishments/verify/762MAG5HLH">Certification</a>
                  </p>
                </div>
                <div class="col-md-4">
                  <h3>Introduction to Python (Part II)</h3>
                  <p> Rice University, May 2015, <a href="https://www.coursera.org/account/accomplishments/verify/XXR7CGJCSC">Certification</a>
                  </p>
                </div>
                <div class="col-md-4">
                  <h3>Front End Nanodegree</h3>
                  <p> Udacity, May 2015, <a href="https://www.coursera.org/account/accomplishments/verify/762MAG5HLH">Certification</a>
                  </p>
                </div>
                </div>
            </div>
        </section>

        <section class="page-skills">
            <div class="container skills-container">
                <header class="section-header profile-header-info text-center">
                  <h1>
                    <span>Skills</span>
                  </h1>
                  <div class="spacer"></div>
                  <p class="section-subtitle">Technical Proficiencies</p>
                </header>
                <div class="row skills-list">
                  <div class="col-md-2 text-center">
                  <div class="chart" data-percent="90" data-scale-color="#ffb400">
                  <p>HTML</p>
                  </div>
                  </div>
                  <div class="col-md-2 text-center">
                  <div class="chart" data-percent="90" data-scale-color="#ffb400">
                  <p>CSS</p>
                  </div>
                  </div>
                  <div class="col-md-2 text-center">
                  <div class="chart" data-percent="90" data-scale-color="#ffb400">
                  <p>JavaScript</p>
                  </div>
                  </div>
                  <div class="col-md-2 text-center">
                  <div class="chart" data-percent="85" data-scale-color="#ffb400">
                  <p>jQuery</p>
                  </div>
                  </div>
                  <div class="col-md-2 text-center">
                  <div class="chart" data-percent="90" data-scale-color="#ffb400">
                  <p>MV* Frameworks</p>
                  </div>
                  </div>
                  <div class="col-md-2 text-center">
                  <div class="chart" data-percent="80" data-scale-color="#ffb400">
                  <p>Gulp</p>
                  </div>
                  </div>
                </div>
            </div>
        </section>

        <section class="page-experience">
            <div class="container work-container">
                <header class="section-header profile-header-info text-center">
                  <h1>
                    <span>Work Experience</span>
                  </h1>
                  <div class="spacer"></div>
                  <p class="section-subtitle">Where I have worked</p>
                </header>
                <div class="row work-exp-row">
                  <div class="col-md-4">
                  <header>
                  <h3> TD Canada Trust</h3>
                  <p> Financial Services Representative, Aug 2015 to Present</p>
                  </header>
                  <p>As the first point of contact for clients at one of Canada's five big banks, my responsibilities included delivering legendary service and personalized financial advice. </p>
                  </div>
                  <div class="col-md-4">
                  <header>
                  <h3>University of British Columbia</h3>
                  <p>Communications Assistant, April 2013 to September 2014</p>
                  </header>
                  <p>As a communications assistant, I was responsible for managing and creating content for the Faculty of Arts websites. Eventually, I took the initiative to learn basic HTML and CSS skills to help the Communications team's developers with minor web design tasks. The result of Sherman's proactivity contributed to an excellent reception among faculty clients and even resulting in winning a W3 award for the Faculty of Art's websites.</p>
                  </div>
                  <div class="col-md-4">
                  <header>
                  <h3>Centre for Teaching, Learning and Technology</h3>
                  <p>Marketing and Communications Assistant, Jan 2013 to April 2013</p>
                  </header>
                  <p>The Marketing and Communications Assistant position revolved around creating and editing marketing material for the CTLT. I helped create and edit an email newsletter, made in Adobe Illustrator, sent out to UBC's faculty. I also maintained and managed the CTLT's online blog.</p>
                  </div>
                </div>
            </div>
        </section>
      </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/backbone/backbone-min.js"></script>
    <script src="/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/project-collections.js"></script>
    <script src="scripts/views/app-view.js"></script>
    <script src="scripts/router.js"></script>
    <!-- endbuild -->
  </body>
</html>
